@using Coditech.Admin.Utilities;
@using Coditech.Common.API.Model;
@model ModelPopUpViewModel
@{
    Layout = null;
}

<div class="modal fade" id="@Model.ModelPopUpId" tabindex="-1" aria-labelledby="@Model.ModelPopUpId+Label" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="@Model.ModalContentId">
        </div>
    </div>
</div>