################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Coditech.Project/.vs
/Coditech.Project/Coditech.Engine.Admin/bin
/Coditech.Project/Coditech.Engine.Admin/obj
