################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Coditech.Project/.vs
/Coditech.Project/Coditech.Engine.Admin/bin
/Coditech.Project/Coditech.Engine.Admin/obj
/Coditech.Project/Coditech.Admin.Custom/obj
/Coditech.Project/Coditech.API.Client.Custom/obj
/Coditech.Project/Coditech.Admin.Custom/bin
/Coditech.Project/Coditech.API.Client.Custom/bin
/Coditech.Project/Coditech.API.Data.Custom/bin
/Coditech.Project/Coditech.API.Data.Custom/obj
/Coditech.Project/Coditech.API.Model.Custom/bin
/Coditech.Project/Coditech.API.Model.Custom/obj
/Coditech.Project/Coditech.Engine.Organisation/bin
/Coditech.Project/Coditech.Engine.Organisation/obj
/Coditech.Project/Coditech.Resources.Custom/bin
/Coditech.Project/Coditech.Resources.Custom/obj
/Coditech.Project/Coditech.Common.API.Custom/bin
/Coditech.Project/Coditech.Common.API.Custom/obj
/Coditech.Project/Coditech.Engine.MediaManager/bin
/Coditech.Project/Coditech.Engine.MediaManager/obj
