@using Coditech.Admin.Utilities;
@using Coditech.Common.API.Model;
@using Newtonsoft.Json
@model DBTMDashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col-auto align-self-center">
                            <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                <span class="" id="Select_date">@System.DateTime.Now.ToCoditechDateFormat()</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-self-center icon-xs ms-1"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                            </a>
                        </div>
                    </div>
                </div><!--end page-title-box-->
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-3">
                <a href="/DBTMTraineeDetails/list">
                    <div class="card report-card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col">
                                    <p class="text-dark mb-0 fw-semibold">Number Of Trainees</p>
                                    <h3 class="m-0">@Model.NumberOfTrainees</h3>
                                </div>
                                <div class="col-auto align-self-center">
                                    <div class="report-main-icon bg-light-alt">
                                        <i class="fas fa-user-check"></i>
                                    </div>
                                </div>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card report-card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <p class="text-dark mb-0 fw-semibold">Total Number Of Activity Performed During Week</p>
                                <h3 class="m-0">@Model.TotalNumberOfActivityPerformedDuringWeek</h3>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="report-main-icon bg-light-alt">
                                    <i class="fas fa-user-minus"></i>
                                </div>
                            </div>
                        </div>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div>
            <div class="col-md-6 col-lg-9">
                <div class="card report-card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Top Activity Performed</h4>
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div><!--end card-header-->
                    <div class="card-body">
                        @*  <div class="row d-flex justify-content-center">
                            <div class="col">
                                <p class="text-dark mb-0 fw-semibold">Top Activity Performed</p>
                                <h3 class="m-0">@Model.DBTMTrainerDashboardModel.TopActivityPerformed</h3>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="report-main-icon bg-light-alt">
                                    <i class="fas fa-user-friends"></i>
                                </div>
                            </div>
                        </div> *@
                        <div class="table-responsive browser_users">
                            <table class="table mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="border-top-0">Activity Name</th>
                                    </tr><!--end tr-->
                                </thead>
                                <tbody>
                                    @*  @foreach (var item in Model?.DBTMTrainerDashboardModel?.TopActivityPerformed) *@
                                    <tr>
                                        <td><a href="/dbtmtestmaster/Edit?dBTMTestMasterId=DBTMTestMasterId" class="text-primary">Gajju P</a></td>
                                    </tr>
                                </tbody>
                            </table> <!--end table-->
                        </div><!--end /div-->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div>
            <div class="col-md-6 col-lg-9">
                <div class="card report-card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Assignments Due Today</h4>
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div><!--end card-header-->
                    <div class="card-body">
                        <div class="table-responsive browser_users">
                            <table class="table mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="border-top-0">Name</th>
                                        <th class="border-top-0">Test Name</th>
                                    </tr><!--end tr-->
                                </thead>
                                <tbody>
                                    @*  @foreach (var item in Model?.DBTMTrainerDashboardModel?.DueTodayAssignments) *@
                                    <tr>
                                        <td><a href="/DBTMTraineeAssignment/Edit?dBTMTraineeAssignmentId=DBTMTraineeAssignmentId" class="text-primary">Nikita G</a></td>
                                        <td>TestName</td>
                                    </tr>
                                </tbody>
                            </table> <!--end table-->
                        </div><!--end /div-->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div>
            <div class="col-md-6 col-lg-9">
                <div class="card report-card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Top 3 Trainee</h4>
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div><!--end card-header-->
                    <div class="card-body">                      
                        <div class="table-responsive browser_users">
                            <table class="table mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="border-top-0">Name</th>
                                        <th class="border-top-0">Contact Number</th>
                                    </tr><!--end tr-->
                                </thead>
                                <tbody>
                                    @* @foreach (var item in Model?.DBTMTrainerDashboardModel?.Top3Trainee) *@
                                    <tr>
                                        <td><a href="/DBTMTraineeDetails/UpdateDBTMTraineePersonalDetails?dBTMTraineeDetailId=DBTMTraineeDetailId&personId=PersonId" class="text-primary">Samruddhi Jadhav</a></td>
                                        <td>MobileNumber</td>
                                    </tr>
                                </tbody>
                            </table> <!--end table-->
                        </div><!--end /div-->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div>
        </div>
    </div><!-- container -->
</div>
















