@model GeneralPolicyRulesListViewModel
@{
    ViewBag.Title = "General Policy Rules List";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                @Html.Partial("~/Views/GeneralMaster/GeneralPolicyMaster/_GeneralPolicySidePannel.cshtml", Model.PolicyCode)
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">General Policy Rules: @Model.PolicyCode</span>
                        <a class=" btn btn-sm btn-soft-primary float-end" href="/@controllerName/CreatePolicyRules?policyCode=@Model.PolicyCode" role="button"><i class="fas fa-plus me-2"></i>Add General Policy Rule</a>
                    </div>
                    <div class="card-body">
                        <div id="DataTablesDivId" class="dataTables_wrapper dt-bootstrap5 no-footer">
                            @Html.Partial("~/Views/GeneralMaster/GeneralPolicyMaster/GeneralPolicyRules/_GeneralPolicyRulesList.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->