@model OrganisationCentrewiseAccountSetupViewModel
@{
    Layout = null;
    DropdownViewModel currencyDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.Currency.ToString(), DropdownName = "GeneralCurrencyMasterId", DropdownSelectedValue = Model.GeneralCurrencyMasterId.ToString() };
    
}
@Html.HiddenFor(m => m.OrganisationCentrewiseAccountSetupId)
<div class="col-lg-4">
    <div class="mb-3">
        @Html.LabelFor(x => x.GeneralCurrencyMasterId, new { @class = "form-label required" })
        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", currencyDropdown)
        @Html.ValidationMessageFor(x => x.GeneralCurrencyMasterId)
    </div>
</div>
