@model DBTMActivitiesListViewModel
@{
    ViewBag.Title = "Activities List";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">Activities List : @Model.FirstName @Model.LastName</span>
                        <a class=" btn btn-sm btn-soft-secondary float-end" href="/DBTMTraineeDetails/List?SelectedParameter1=@Model.CentreCode" role="button">
                                <i class="fas fa-arrow-left me-2"></i>Back
                            </a>
                    </div>
                    <div class="card-body">
                        <div id="DataTablesDivId" class="dataTables_wrapper dt-bootstrap5 no-footer">
                            @Html.Partial("~/Views/DBTM/DBTMActivities/_List.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->