@model bool
@if (Model)
{
    <div class="btn btn-sm btn-soft-success me-2 btn-circle" style="cursor:default">
        <i class="fas fa-check-circle"></i>
    </div>
}
else
{
    <div class="btn btn-sm btn-soft-danger me-2 btn-circle" style="cursor:default">
        <i class="fas fa-times-circle"></i>
    </div>
}